<p id="notice"><%= notice %></p>

<p>
  <strong>Mac:</strong>
  <%= @datum.mac %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @datum.speed %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @datum.distance %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @datum.ip %>
</p>

<%= link_to 'Edit', edit_datum_path(@datum) %> |
<%= link_to 'Back', data_path %>
